 <!-- {{ $currentPage := . -}}
{{ range .Site.Menus.docs -}}
  <h3><img src='/assets/images/{{ .Pre }}' />{{ .Name }}</h3>
  {{ if .HasChildren -}}
  <ul class="list-unstyled">
    {{ range .Children -}}
      {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
      {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
      <li>
        <i class='fa {{ .Pre }}'></i>
         <a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}"> {{ .Name }}</a>
        </li>
    {{ end -}}
  </ul>
  {{ end -}}
{{ end -}} -->


{{ if .Site.Params.options.collapsibleSidebar -}}
<ul class="list-unstyled collapsible-sidebar">
  {{ $currentPage := . -}}
  {{ range $index, $element := .Site.Menus.docs -}}
  {{- $active := or  ($currentPage.IsMenuCurrent " " .)  ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
  {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
    <li class="mb-1">
      {{ if .HasChildren -}}
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ .Identifier }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
        {{ if .Pre -}}{{ .Pre }}{{ end -}} <span>{{ .Name }}</span> {{ if .Post -}}{{ .Post }}{{ end -}}
      </button>
      <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ .Identifier }}">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        {{ range .Children -}}
          {{- $active := or ($currentPage.IsMenuCurrent " " .)  ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
          {{- $active = or $active (eq $currentPage.Section .Identifier) -}}

            {{ if .HasChildren -}}
            <li class="submenu">
            <button class="btn btn-toggle align-items-left rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ .Identifier }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
              {{ if .Pre -}}{{ .Pre }}{{ end -}} <span>{{ .Name }}</span> {{ if .Post -}}{{ .Post }}{{ end -}}
            </button>
            <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ .Identifier }}">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {{ range .Children -}}
                {{- $active := or ($currentPage.IsMenuCurrent " " .)  ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
                {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
                <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a>
                </li>
              {{ end -}}
              </ul>
            </div>
            </li>
            {{ else -}}
            <li>
            <a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a>
            </li>
            {{ end -}}
          </li>
        {{ end -}}
        </ul>
      </div>
      {{ end -}}
    </li>
  {{ end -}}
  </ul>
{{ else -}}
  {{ $currentPage := . -}}
  {{ range .Site.Menus.docs -}}
    <h3>{{ .Name }}</h3>
    {{ if .HasChildren -}}
    <ul class="list-unstyled">
      {{ range .Children -}}
        {{- $active := or ($currentPage.IsMenuCurrent " " .) ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
        {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
        <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end -}}
    </ul>
    {{ end -}}
  {{ end -}}
{{ end -}}
