.alert {
  font-family: $font-family-monospace;
  font-size: $font-size-lg;
}

.alert-icon {
  margin-right: 0.75rem;
}


.alert .alert-link {
  text-decoration: underline;
}

.alert-dark {
  color: $white;
  background-color: $black;
}

.alert-dark .alert-link {
  color: $white;
}

.alert-light {
  color: $black;
}


.alert-white {
  background-color: rgba(255, 255, 255, 0.95);
}

.alert-danger {
  background: $red;
  color: $white;
}


.alert-primary {
  color: $white;
  background-color: $primary;
}


.alert-primary .alert-link {
  color: $white;
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: none;
}
.alert-primary {
  color: $white;
  background-color: $primary;
}
