.navbar .btn-link {
  color: $navbar-light-color;
  padding: 0.4375rem 0;
}

#mode {
  margin-right: 1.25rem;
}

.btn-link:focus {
  outline: 0;
  box-shadow: none;
}

#navigation {
  margin-left: 1.25rem;
}

@include media-breakpoint-up(md) {
  #mode {
    margin-right: 0.5rem;
  }

  .navbar .btn-link {
    padding: 0.5625em 0.25rem 0.5rem 0.125rem;
  }
}

.navbar .btn-link:hover {
  color: $navbar-light-hover-color;
}

.navbar .btn-link:active {
  color: $navbar-light-active-color;
}

body .toggle-dark {
  display: block;
}

body .toggle-light {
  display: none;
}

body.dark .toggle-light {
  display: block;
}

body.dark .toggle-dark {
  display: none;
}

.btn-clipboard {
  display: none;
}

@include media-breakpoint-up(md) {
  .doks-clipboard {
    position: relative;
    float: right;
  }

  .btn-clipboard {
    position: absolute;
    top: 1rem;
    right: 0.25rem;
    z-index: 10;
    display: block;
    padding: 0.25rem 0.5rem;
    font-size: $font-size-sm;
  }
}

.copy-status::after {
  content: "Copy";
  display: block;
  color: $body-color;
}

.copy-status:hover::after {
  content: "Copy";
  display: block;
  color: $pink-500;
}

.copy-status:focus::after,
.copy-status:active::after {
  content: "Copied";
  display: block;
  color: $pink-500;
}


.btn {
  border-radius: 50px;
  border: none;
  margin-right: 10px;
  &-primary {
    padding: 10px 30px;
    background: linear-gradient(0deg, #455AFF 0%, #7C87D5 100%);
    box-shadow: 0 3px 4px 0 #9EA4C7;
    &:hover {
    }
  }
  &-secondary {
    padding: 10px 30px;
    background: linear-gradient(0deg, #F6F5FB 0%, #FFFFFF 100%);
    box-shadow: 0 2px 5px 0 rgba(171,176,205,0.78);
    color: #20243D !important;
    &:hover {
    }
  }
  &-icon {
    padding: 10px 35px 10px 30px;
    .icon {
      margin-right: 5px;
    }
  }
}
