
.collapsible-sidebar {
  .btn {
    padding: 6px 0;
    border: none;
    text-transform: uppercase;
    color: $gray-500;
    &:active, &:hover, &:visited, &:focus {
      border: none;
      outline: 0;
      box-shadow: none;
    }
    &:hover {
      color: $gray-600;
    }
    &-toggle{
      &.collapsed {
        color: $gray-500;
      }
      display: flex;
    }
    span.icon {
      margin-right: 5px;
    }

    img {
      width: 15px !important;
      margin-right: 5px;
    }
  }

  ul {
    li {
      a {
        display: block;
        &.active {
          background: $white;
          box-shadow: 0px 1px 3px $gray-400;
        }
      }

      &.submenu {
        margin-left: 10px;
        .btn-toggle {
          width: 100%;
          text-align: left;
          padding: 0.6rem .7rem;
          text-transform: capitalize;
          &.collapsed {
            background: transparent;
            box-shadow: none;
            color: #5E6494;
          }
        }
        .collapse {
          margin-left: 10px;
        }
        // li {
        //   border-top: 1px solid #ECE9FB;
        //   &:first-child {
        //     border-top: 0;
        //   }
        //   a {
        //     background: transparent;
        //     box-shadow: none;
        //   }
        // }
      }
    }
  }
}
