
// Used in layout
$padding-2: 0.125rem !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;
$padding-32: 2rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;
$font-size-20: 1.25rem !default;
$font-size-24: 1.5rem !default;
$font-size-32: 2rem !default;
$font-size-64: 4rem !default;
$font-size-96: 6rem !default;
$font-size-128: 8rem !default;

$border-1: 1px !default;
$border-2: 1.5px !default;
$border-4: 3px !default;

$border-radius: 0.15rem !default;

// Grayscale
$white: rgba(255, 255, 255, 1) !default;
$gray-100: rgba(248, 249, 250, 1) !default;
$gray-200: rgba(233, 236, 239, 1) !default;
$gray-300: rgba(222, 226, 230, 1) !default;
$gray-400: rgba(206, 212, 218, 1) !default;
$gray-500: rgba(173, 181, 189, 1) !default;
$gray-600: rgba(134, 142, 150, 1) !default;
$gray-700: rgba(73, 80, 87, 1) !default;
$gray-800: rgba(52, 58, 64, 1) !default;
$gray-900: rgba(33, 37, 41, 1) !default;
$black: rgba(0, 0, 0, 1) !default;

$link-color: rgba(10, 83, 154, 1) !default;
$link-color-visited: rgba(119, 73, 191, 1) !default;
$link-color-footer: rgba(255, 163, 30, 1) !default;

$body-background: white !default;
$body-font-color: $gray-800 !default;
$body-font-weight: normal !default;
$body-min-width: 20rem !default;

$code-font-color: rgba(95, 95, 95, 1) !default;
$code-font-color-dark: rgba(185, 185, 185, 1) !default;

$body-background-dark: $gray-800 !default;
$body-font-color-dark: $gray-100 !default;

$container-max-width: 80rem !default;

$main-color: rgba(65, 134, 201, 1) !default;
$second-color: rgba(47, 51, 62, 1) !default;

$body-background-dark: mix(
  invert($body-background, 75%),
  $second-color
) !default;
$link-color-dark: rgba(110, 168, 212, 1) !default;
$link-color-visited-dark: rgb(186, 142, 240) !default;

$code-background: lighten($gray-200, 4) !default;
$code-background-dark: darken($body-background-dark, 2) !default;

$header-height: 3.5rem !default;
$menu-width: 16rem !default;

$sm-breakpoint: $menu-width + $body-min-width + 3rem !default;

// Panel colors
$hint-colors: (
  info: rgba(0, 145, 234, 1),
  ok: rgba(0, 200, 83, 1),
  warning: rgba(255, 171, 0, 1),
  danger: rgba(213, 0, 0, 1),
) !default;

// {{< expand "Label" "icon" >}}
.doc-expand {
  margin-top: $padding-16;
  margin-bottom: $padding-16;

  border: $border-1 solid var(--accent-color);
  border-radius: $border-radius;

  overflow: hidden;

  &__head {
    background: var(--accent-color-lite);
    padding: $padding-8 $padding-16;
    cursor: pointer;
  }

  &__content {
    display: none;
    padding: $padding-16;
  }

  &__control:checked + &__content {
    display: block;
  }

  .doc-page__anchor {
    display: none;
  }
}

// {{< tabs >}}
.doc-tabs {
  margin-top: $padding-16;
  margin-bottom: $padding-16;
  // border: $border-1 solid var(--accent-color);
  // border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  &__label {
    display: inline-block;
    padding: $padding-8 $padding-16;
    border-bottom: $border-1 transparent;
    cursor: pointer;
  }

  &__content {
    order: 999; //Move content blocks to the end
    width: 100%;
    border-top: $border-1 solid var(--accent-color-lite);
    // padding: $padding-16;
    display: none;
  }

  &__control:checked + &__label {
    border-bottom: $border-2 solid $link-color-visited;
  }
  &__control:checked + &__label + &__content {
    display: block;
  }

  .doc-page__anchor {
    display: none;
  }
}

// {{< columns >}}
.doc-columns {
  margin-left: -$padding-16;
  margin-right: -$padding-16;

  &__content {
    margin: $padding-16 0;
    min-width: $body-min-width * 0.66;
    padding: 0 $padding-16;
  }

  .doc-page__anchor {
    display: none;
  }
}

// {{< button >}}
.doc-button {
  $root: &;

  display: inline-block;
  background: var(--accent-color-lite);
  border: $border-1 solid var(--accent-color);
  border-radius: $border-radius;
  margin: $padding-8 0;
  cursor: pointer;

  &__link {
    display: inline-block;
    color: inherit !important;
    text-decoration: none !important;
  }

  &:hover {
    background: var(--button-background);
    border-color: var(--button-border-color);
    color: $gray-100;
  }

  &--regular {
    font-size: $font-size-base;

    #{$root}__link {
      padding: $padding-4 $padding-8;
    }
  }

  &--large {
    font-size: $font-size-20;

    #{$root}__link {
      padding: $padding-8 $padding-16;
    }
  }
}

// {{< hint >}}
.doc-hint {
  @each $name, $color in $hint-colors {
    &.#{$name} {
      border-left-color: $color;
      background-color: scale-color($color, $lightness: 95%, $saturation: -30%);
      color: $body-font-color;
    }
  }

  .doc-page__anchor {
    display: none;
  }
}

// {{< mermaid >}}
.doc-mermaid {
  font-family: "Liberation Sans", sans-serif;
}
