{{ if .Inner }}{{ end }}
{{ $id := .Get 0 }}
{{ $className := .Get 1 }}
{{ $group := printf "tabs-%s" $id }}

<div class="doc-tabs {{printf $className}}">
  {{ range $index, $tab :=  .Scratch.Get $group }}
    <input type="radio" class="doc-tabs__control hidden" name="{{ $group }}" id="{{ printf "%s-%d" $group $index }}"
      {{ if not $index }}checked="checked" {{ end }} />
    <label for="{{ printf "%s-%d" $group $index }}" class="doc-tabs__label">
      {{ $tab.Name }}
    </label>
    <div class="doc-markdown--nested doc-tabs__content">
      {{ .Content | $.Page.RenderString }}
    </div>
  {{ end }}
</div>

<!-- <div class="{{ if $className }}{{printf $className}}{{ else }}doc-tabs{{ end }}"> -->
