.hero-section {
  margin-right: calc(var(--bs-gutter-x) / -.8);
  margin-left: calc(var(--bs-gutter-x) / -.8);
  padding-right: calc(var(--bs-gutter-x) / .8);
  padding-left: calc(var(--bs-gutter-x) / .8);
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FB 100%);
}

.hero-section.section  {
  padding-bottom: 0;
}

.grey-gradient-bg {
  margin-right: calc(var(--bs-gutter-x) / -.8);
  margin-left: calc(var(--bs-gutter-x) / -.8);
  padding-right: calc(var(--bs-gutter-x) / .8);
  padding-left: calc(var(--bs-gutter-x) / .8);
  background: url(/images/homepage/circuitbg.png) no-repeat right bottom;
  background-size: contain;
}

.card-stacked {
  display: flex;
  .card-group {
    display: flex;
    flex-direction: column;
    padding: 12px;
    max-width: 180px;
    min-height: 300px;
    &:last-child {
      transform: translateY(20px);
    }
  }
  .card {
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F1F7 100%);
    box-shadow: 0 2px 6px 0 #ABB0CD;
    transform: translateY(0);
    transition: transform .2s ease-in-out;
    margin-bottom: 24px;
    &:hover  {
      text-decoration: none;
      transform: translateY(-4px);
      transition: transform .2s ease-in-out;
    }
    .card-footer{
      background-color: #fff;
      text-align: center;
      font-size: 11px;
      color: #5E6494;
      min-height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.hero-section  {
  .card-stacked {
    margin-bottom: -5.75rem;
  }
}


.doc-tabs__content pre {
  margin-top: 1rem;
}


.block-card {
  display: flex;
  justify-content: start;
  .block-header {
    font-size: 18px;
    margin-top: 7px;
  }
}


.icon-box {
  height: 32px;
  width: 32px;
  padding: 15px;
  border-radius: 4px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FB 100%);
  box-shadow: 0 2px 5px 0 rgba(171,176,205,0.66);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px
}



.doc-tabs{
  border-radius: 5px;
  table {
    margin: 0 !important;
      margin: 0 !important;
      td {
          padding: 0 !important;
          border-radius: 0 !important;
          pre {
            margin: 0 !important;
            border-radius: 0 !important;
            // .hljs {
            //   background-color: #4F566B;
            //   border-radius: 0;
            // }
          }
          &:first-child {
            width: 70px !important;
            // .hljs {
            //   color: #6C809F !important;
            // }
          }
      }
  }
    .highlight > .chroma {
      overflow: auto;
    }

    button {
      position: absolute;
      top: 4px;
      right: 4px;
      border: none;
      background: #4f566b;
      color: #b7bdca;
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 5px 8px;
      border-radius: 5px;
    }

}


.doc-tabs__label {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02rem;
  color: #A4ACB9 !important;
  padding: 0.5rem !important;
}

.doc-tabs__control:checked + .doc-tabs__label {
  border-bottom: 1.5px solid #fff !important;
  color: #fff !important;
}

main section {
  position: relative;
  .doc-tabs {
    position: relative;
    background-color: #3C4257;
  }
}

.method-block {
  margin: 15px 0 20px;
  display: inline-block;

  span {
    font-family: var(--bs-font-monospace);
    display: inline-block;
    padding: 5px 10px;
    line-height: 1.5;
  }
  span:first-child {
    font-weight: 600;
  }
}


.method-block-primary {
  border: 1px solid var(--bs-primary) !important;
  span:first-child {
    background: var(--bs-primary) !important;
  }
}

.method-block-success {
  border: 1px solid var(--bs-teal) !important;
  span:first-child {
    background: var(--bs-teal) !important;
  }
}


@media only screen and (min-width: 1024px) {
  main section {
    position: relative;
    .doc-tabs {
      position: absolute;
      left: calc(100% + 45px);
      width: calc(39.5vw - 40px);
      top: 90px;
    }
  }
}


// helper
.hidden {
  display: none;
}
