
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/vendor/opensans/OpenSans.woff2') format('woff2'),
      url('fonts/vendor/opensans/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/vendor/opensans/OpenSans-Semibold.woff2') format('woff2'),
      url('fonts/vendor/opensans/OpenSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/vendor/opensans/OpenSans-SemiboldItalic.woff2') format('woff2'),
      url('fonts/vendor/opensans/OpenSans-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/vendor/opensans/OpenSans-Italic.woff2') format('woff2'),
      url('fonts/vendor/opensans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/vendor/themeicons/icomoon.eot?l96rsw');
  src:  url('fonts/vendor/themeicons/icomoon.eot?l96rsw#iefix') format('embedded-opentype'),
    url('fonts/vendor/themeicons/icomoon.ttf?l96rsw') format('truetype'),
    url('fonts/vendor/themeicons/icomoon.woff?l96rsw') format('woff'),
    url('fonts/vendor/themeicons/icomoon.svg?l96rsw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-monitor:before {
  content: "\e900";
  color: #5d6393;
}
.icon-pie:before {
  content: "\e901";
  color: #5d6393;
}
.icon-stack:before {
  content: "\e902";
  color: #5d6393;
}
.icon-globe:before {
  content: "\e903";
  color: #5d6393;
}
.icon-security:before {
  content: "\e904";
  color: #5d6393;
}
.icon-grid:before {
  content: "\e905";
  color: #5d6393;
}
.icon-tiles:before {
  content: "\e906";
  color: #5d6393;
}
.icon-power:before {
  content: "\e907";
  color: #5d6393;
}
.icon-upload:before {
  content: "\e908";
  color: #5d6393;
}

